@import "partials/all", "modules/all";

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
};











footer{
    .container{
        margin: 2em 6em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;    



        .title{
            font-size: 0.8rem;
            margin: 0 1.5em;
        }

        a{
            display: block;
            text-decoration: none;
            margin: 1em 1.5em;
            color: grey;
            font-size: 0.8rem;
            &:hover{
                color: colors(lightBlue);
                transition: linear 0.2s;
            }
        }
    }

}


@import "media";