$colors:(
    mainColor: #000,
    secondaryColor: rgb(13, 80, 180),
    lightBlue: rgb(0, 174, 255)
);

@function colors($color-name){
    @return map-get($colors,$color-name)
};


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
};

.menu-btn{
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    cursor: pointer;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    position: absolute;

    

    &.open{
        transform: translateX(0);
        transition: all 0.5s linear;
    }  

    .logo{
        width: 6em;
    }

    ul{
        padding: 0;

       li{
           list-style-type: none;
           padding: 1em;  
           
        a{
            text-decoration: none;
            color: colors(mainColor);
            font-size: 2em;

            &:hover{
                color: colors(lightBlue);
                transition: linear 0.2s;
            }
        }  
        
        .active{
            border-bottom: 2px solid;
        }
       }          
    }

    .user{
        a{
            text-decoration: none;
            font-size: 1.5em;
            margin: 0 1.5em;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 3em;
        }

        .login{
            color: colors(secondaryColor);
            &:hover{
                color: colors(lightBlue);
                transition: linear 0.2s;
            }
        }

        .signup{
            color: colors(lightBlue);
            border: 1px solid;
            padding: 0.5em 1em;
            border-radius: 5px;
            &:hover{
                color: colors(secondaryColor);
                transition: linear 0.2s;
            }
        }

    }
}

.header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .header-text{
        order: 1;
        padding: 0 2em;

        h1{
            line-height: 1.5em;
        }        

        p{
            margin-bottom: 2.5em;
            color: grey;
            font-size: 0.8rem;
            line-height: 1.5em;
        }

        .header-btn{
            text-decoration: none;
            color: white;
            background: colors(secondaryColor);
            padding: 0.8em 2em;
            border-radius: 6px;
            &:hover{
                background-color: colors(lightBlue);
                transition: linear 0.2s;
            }
        }

    }

    .header-img{
        img{
            width: 100%;
            padding-top: 1em;
        }
    }
}

.section-1{
    text-align: center;
    margin: 1em;
    margin-bottom: 2em;

    p{
        color: grey;
        font-size: 0.8rem;
        margin-bottom: 2em;
    }
}

.section-2{
    display: grid;
    margin-bottom: 2em;
    margin: 0 1em;

    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2em;
        padding: 1em;
        
        .icons{
            font-size: 3em;
        }

        i{
            margin-right: 0.7em;
            color: colors(secondaryColor);
        }

        h1{
            font-size: 1em;
        }

        p{
            line-height: 1.5em;
            margin-right: 1em;
            font-size: 0.8rem;
        }
    }
}

.section-3{
    margin-bottom: 4em;

    .flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

    img{
        width: 100%;
    }

    h1{
        text-align: left;
    }

    p{
        line-height: 1.5em;
        font-size: 0.8rem;
        color: grey;
        text-align: left;
    }
    
    .diagram-text{
    
    a{
        color: colors(lightBlue);
        border: 1px solid;
        padding: 0.5em;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin-top: 1em;
        font-size: 0.8rem;
        &:hover{
            color: colors(secondaryColor);
            transition: linear 0.2s;
        }
    }
}

    }   
}

.section-4{
    margin: 1em;

    .text{
        text-align: center;
        width: 70vw;
        margin: auto;
    
    h1{
        font-weight: bold;
    }

    p{
        line-height: 2em;
        font-size: 0.8rem;
        margin-bottom: 2em;
    }

}

    .blogs{
        display: flex;
        flex-direction: column;

        .blog-box{
            border: 0.2px solid rgb(202, 200, 200);
            border-radius: 5px;
            margin: 1em 0;
        }

        h2{
            padding: 0 1em;
                font-size: 1rem;
                text-align: left;
        }
        
        img{
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        p{
            line-height: 1.5em;
            font-size: 0.8rem;
            color: gray;
            padding: 0 1em;;
        }

        a{
        color: colors(lightBlue);
        padding: 0.3em;
        font-weight: bold;
        text-decoration: none;
        display: block;
        margin-bottom: 2em;
        font-size: 0.8rem;
        padding: 0 1em;
        &:hover{
            color: colors(secondaryColor);
            transition: linear 0.2s;
        }
        }
    }
}

.section-5{
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgb(209, 206, 206), white);
    text-align: center;
    border-radius: 5px;
    margin: 1.5em;

    h1{
        width: 70%;
        margin: 1em auto;
    }


    .free-trial{
        display: inline-block;
        text-decoration: none;
        background: colors(secondaryColor);
        color: white;
        padding: 1em 1.5em;
        border-radius: 6px;
        margin: 1em;
        &:hover{
            background-color: colors(lightBlue);
            transition: linear 0.2s;
        }
    }

    .demo{
        display: inline-block;
        text-decoration: none;
        background: rgba(173, 216, 230, 0.808);
        color: colors(secondaryColor);
        font-weight: bold;
        padding: 1em 1.5em;
        border-radius: 6px;
        margin: 1em; 
        &:hover{
            background-color: colors(lightBlue);
            transition: linear 0.2s;
        }
    }
}

footer{
    .container{
        margin: 2em 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;        

        .title{
            font-size: 0.8rem;
        }

        a{
            display: block;
            text-decoration: none;
            margin: 1em 1.5em;
            color: grey;
            font-size: 0.8rem;
            &:hover{
                color: colors(lightBlue);
                transition: linear 0.2s;
            }
        }
    }

}


@import "media";