@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
};

@mixin medium{
  @media (min-width: 772px){
      @content;
  }
};

@mixin large{
  @media (min-width: 992px){
      @content;
  }
};

@mixin extraLarge{
  @media (min-width: 1200px){
      @content;
  }
};
