.trial {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgb(209, 206, 206), white);
  text-align: center;
  border-radius: 10px;
  padding-bottom: 1rem;
  margin: 0 1rem;
  margin-bottom: 4em;

  @include medium {
    margin: auto;
    margin-bottom: 4em;
    padding-bottom: 0;
    height: 15rem;
  }

  h2 {
    width: 70%;
    margin: 1rem auto;
  }

  &-links {
    &-item {
      display: inline-block;
      text-decoration: none;
      margin: 0.5rem;
      padding: 1rem 1.5rem;
      border-radius: 6px;

      @include medium {
        margin: 1rem;
      }
    }

    .free-trial {
      background: colors(secondaryColor);
      color: white;
      transition: linear 0.2s;

      &:hover {
        background-color: colors(lightBlue);
        transition: linear 0.2s;
      }
    }

    .demo {
      background: rgba(173, 216, 230, 0.808);
      color: colors(secondaryColor);
      font-weight: bold;
      transition: linear 0.2s;

      &:hover {
        background-color: colors(lightBlue);
        transition: linear 0.2s;
      }
    }
  }
}
